.Modal {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-wrapper {
    margin: 40px;
    box-sizing: border-box;
    box-shadow: 0 0 25px rgba(31, 32, 65, 0.25);
    .content {
      padding: 20px;
      form {
        display: flex;
        flex-direction: column;
        input {
          height: 44px;
          border: 1px solid rgba(31, 32, 65, 0.25);
          box-sizing: border-box;
          border-radius: 4px;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: rgba(31, 32, 65, 0.75);
          padding-left: 12px;
          padding-right: 14px;
          margin: 5px 0;
        }
        button {
          margin-top: 10px;
          cursor: pointer;
          height: 44px;
          border: none;
          background-color: turquoise;
        }
      }
    }
  }
}
